:root {
    --font-family: sans-serif;
    --font-mono-family: monospace;
    --font-size-major: 16pt;
    --font-size-minor: 13pt;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-back-color: #cee;
        --main-input-color: #ffa;
        --main-fore-color: #244;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-back-color: #477;
        --main-input-color: #770;
        --main-fore-color: #4cc;
    }
}

html {
    overflow-y: scroll;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

body {
    margin: 0;
    padding: 1.25em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 1.25em;
    * {
        font-size: var(--font-size-major);
        text-align: center;
        margin: 0.25em;
        padding: 0.25em 0.75em;
    }
    input {
        background-color: var(--main-input-color);
    }
}

div {
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div h2 {
    font-size: var(--font-size-major);
    font-weight: bold;
    margin: 0.2em 0 0.2em 0;
}

table {
    border: 1px solid var(--main-fore-color);
    border-collapse: collapse;

    td, th {
        padding: 0.2em 1em;
        white-space: nowrap;
    }
    th {
        text-align: left;
    }
}
